.Footer
  background-color $darkgray
  color $white
  padding .5em 1em
  text-align center
  font-weight 300
  
  a
    color $gray
    font-weight 600
    &:hover
      color $green4
  // &-copyright 
  // &-poweredby
    
