/**
 * # Fuentes
 *
 * Reglas font-face.
 * Puedes usar fuentes de Google webfonts u otros, o cargar las fuentes que
 * hayas descargado.
 */


/**
 * Se pueden cargar las webfonts directamente desde la fuente, en lugar de
 * incluir un @import o un <link>. De esa forma nos ahorramos una petición.
 * El formato woff es ampliamente soportado por los navegadores modernos
 * http://caniuse.com/#feat=woff
 * Puedes incluir ttf para el resto.
 */

@import url('http://fonts.googleapis.com/css?family=Karma:300,500,700|Merriweather:700italic,700,400italic,300italic,300&subset=latin');

@font-face {
  font-family: 'icons';
  src: url('../fonts/fontello.eot?7087598');
  src: url('../fonts/fontello.eot?7087598#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?7087598') format('woff'),
       url('../fonts/fontello.ttf?7087598') format('truetype'),
       url('../fonts/fontello.svg?7087598#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
