.AuthorProfile
  text-align center

  &-bio
    font-size 1.1rem
    font-weight 300
    letter-spacing 0.02em
  
  &-meta
    color $gray
    font-size .85rem
    font-style italic
    line-height 2.2em
    
    span
      display block
      
    a
      color inherit
      &:hover
        color $green4
