// Navegación del blog
.MainNav
    &
        position absolute
        top 0
        left 0
        right 0
        background linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%) repeat scroll 0% 0% transparent
    
    &
    &--noCover
        height 3em
        padding .5em
    
// Botones
[class^="MainNav-button"]
[class*=" MainNav-button"]
    display inline-block
    border 1px solid transparent
    font-size .9em
    text-transform uppercase
    border-radius $borderRadius
    transition all 0.3s ease 0s
    height 100%
    padding .5em .6em
    color $silver
    float left
    
    &:hover
      border 1px solid currentColor
      color inherit
      background-color rgba(255,255,255,.2) 
      
.MainNav-button--suscribe
    float right



@media all and (min-width $bp-large)
    .MainNav
        &
        &--noCover
            padding 1em

    [class^="MainNav-button"]
    [class*=" MainNav-button"]
        font-size .6em
        border 1px solid $white
        line-height 3em
        padding 0 1.5em
        height auto 
        text-shadow none
        
        &:hover
            border 1px solid $white
            background-color $white 
            color $black
        
