.Header
    background-color $black
    overflow hidden
    color $silver
    padding 0.5rem 1rem
    font-family $alternativeFontFamily

    .name
        margin 0 auto
        font-size 1.2em
        max-width 38rem
        letter-spacing initial
        line-height 1.2em
        font-weight 300

    .job
        margin 0 auto
        font-size 1.1em
        max-width 38rem

    .social-links
        margin 0 auto
        max-width 38rem

    .icon
        vertical-align bottom

    .social-link:not(:hover)
        color #ddd

    .email
        font-size: 0.8em

    .main-link
        .name
            color $silver
            transition color 0.1s ease

        &:hover .name
            color white

        .job
            color lighten($mainColor, 25%)
            transition color 0.1s ease

        &:hover .job
            color lighten($mainColor, 70%)
