/**
 * # Iconos
 *
 * Los iconos han sido generados en SVG mediante la herramienta de
 * Icomoon (https://icomoon.io). Esa herramienta proporcionó
 * los siguientes estilos.
 */
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-twitter {
    width: 0.8571416462459638em;
}

.icon-linkedin {
    width: 0.8571416462459638em;
}

.icon-github {
    width: 0.8571436131993941em;
}
