/**
 * # Iconos
 *
 * Los iconos han sido generados en SVG mediante la herramienta de
 * Icomoon (https://icomoon.io). Esa herramienta proporcionó
 * los siguientes estilos.
 */
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-twitter {
    width: 0.8571416462459638em;
}

.icon-facebook {
    width: 0.8571436131993941em;
}

.icon-linkedin {
    width: 0.8571416462459638em;
}

.icon-github {
    width: 0.8571436131993941em;
}

.icon-google-plus {
    width: 0.8571416462459638em;
}

.icon-angle-down {
    width: 0.6428574100136757em;
}

.icon-skype {
    width: 0.8571436032652855em;
}

.icon-codepen {
    width: 1.0000000298023224em;
}
