.Nav
    font-family $alternativeFontFamily
    display flex
    padding 0 .5rem
    flex-wrap wrap
    max-width 40rem
    margin auto
    position relative

    &::before
        background-color $black
        content ''
        position absolute
        width 100vw
        left calc(50% - 50vw)
        z-index 0
        height 100%

    a
        color $silver
        padding .2em .5em
        border-bottom: .3em solid $gray
        transition border-color .2s ease-in-out
        z-index 1

        &:hover
            border-color $mainColor
