.Pagination
    font-family $alternativeFontFamily
    width auto
    max-width 45em
    margin .5em auto
    color $gray
    text-align center
    display flex
    flex-wrap wrap

.Pagination-pageNumber
    flex-basis 100%
    order -1

.Pagination-olderPosts
.Pagination-newerPosts
    button()
    flex-basis 100%
    margin .5em 1em .7em
    color $gray

@media all and (min-width $bp-medium)
    .Pagination
        justify-content center

    .Pagination-olderPosts
    .Pagination-newerPosts
    .Pagination-pageNumber
        flex-basis auto

    .Pagination-pageNumber
        order 0
        line-height 3
