@import 'variables'
@import 'mixins'
@import 'fonts'
@import 'default'

@import 'components/icons'
@import 'components/pagination'
@import 'components/header'
@import 'components/nav'
@import 'components/footer'
@import 'components/post'

.TagPageHeader
    max-width 38em
    margin auto
