/**
 * # Variables
 *
 * Configuraciones del proyecto
 */

/*
 * Soporte para versiones antiguas de IE (6, 7 y 8)
 */
support-for-ie = false

/*
 * Colores
 */
$silver = #dddddd
$gray = #aaaaaa
$darkgray = #444444
$black = #111111
$mainColor = #28965A
$fontColor = #3A4145

/*
 * Fuentes
 */
$primaryFontFamily = 'Work Sans', sans-serif
$alternativeFontFamily = 'Work Sans', sans-serif

$fontSize = 100%

$borderRadius = .25em

$bp-medium = 37.5em
$bp-large = 56em
