/**
 * # Variables
 *
 * Configuraciones del proyecto
 */

/*
 * Soporte para versiones antiguas de IE (6, 7 y 8)
 */
support-for-ie = false

/*
 * Arcoiris :3
 * Una paleta de colores básica, basada en http://clrs.cc. Sustituye estos
 * colores por los de la paleta de tu web o aplicación.
 */
$white = #ffffff
$silver = #dddddd
$gray = #aaaaaa
$darkgray = #444444
$black = #111111

$green1 = #7CFEF0
$green2 = #6BFFB8
$green3 = #2CEAA3
$green4 = #28965A
$green5 = #2A6041

/*
 * Fuentes
 */
$primaryFontFamily = 'Georgia', serif
$alternativeFontFamily = 'Verdana', sans-serif

// Color base del texto
$fontColor = #3A4145
$fontSize = 100%

$borderRadius = .25em

$bp-medium = 37.5em
$bp-large = 56em
